<!-- <p>confirmation works!</p>
<p>user data {{userData.fullname}}</p> -->

<div class="container ">
    <div class="row mt-5">
        <p class="mt-5">Congratulations Mr. Mohamed,you have successfully reserved 1 room for {{userData2.adults}}
            adults and
            {{userData2.children}} child(s) in {{userData1.hotel}} Hotel
            from {{userData1.dateFrom| date:'shortDate'}} to {{userData1.dateTo| date:'shortDate'}}
            Total Price after Vat is : $4400
            It will be paid by {{userData2.radioSelection}} when upon arrival.</p>
    </div>
</div>